.filters{
    padding-top: 51px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(3, $catalogColumnWidth);
    gap: $catalogColumnGap;

    &__details{
        position: relative;

        &-content{
            position: absolute;
            top: -17px;
            z-index: 2;
            background: #fff;
            background: #fff;
            padding: 46px 17px 17px;
            width: 100%;
            filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
            display: flex;
            flex-direction: column;
            gap: 19px;

            &__list{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 11px;
                padding-top: 25px;
            }

            &__link{
                color: #6F6E6E;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
    }

    &__details[open] &__heading{
        color: #EF5B70; 
        padding-left: 16px;
        z-index: 3;
    }

    &__details[open] path:not(.filters__group path){
        fill: #EF5B70;
    }

    &__details:hover &__heading{
        color: #EF5B70; 
    }

    &__details:hover path:not(.filters__group path){
        fill: #EF5B70; 
    }

    &__summary{
        display: flex;
        align-items: center;
        gap: 11px;
        
        &-bottom{
            padding-bottom: 10px;
        }
    }

    &__svg-box{
        display: flex;
        align-items: center;
    }

    &__svg_main{
        z-index: 3;
    }

    &__heading{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        transition: color 0.2s;
        transition: padding-left 0.4s;
        z-index: 2;
    }

    &__subheading{
        color: #EF5B70;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 11px;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
    }

    &__group{
        display: flex;
        gap: 28px;

        &-heading{
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
        }

        &-size{
            margin-left: -10px;
        }
    }
}

.products{
    &__pagination{
        display: flex;
        justify-content: center;

        &-list{
            list-style-type: none;
            display: flex;
            padding: 12px 15px;
            border: 1px solid #EBEBEB;
            border-radius: 3px;

            &__item{
                display: flex;
                align-items: center;
            }

            &__item:not(:first-child):not(:nth-child(8)){
                padding-left: 20px;
            }

            &__item:nth-child(7)::after{
                content:".....";
                color: #C4C4C4;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-left: 0.1em;
                margin-right: 0.1em;
            }
        }

        &-link{
            color: #C4C4C4;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: all 0.3s;

            &:first-of-type{
                display: flex;
            }

            &:last-of-type{
                display: flex;
            }

            &:hover{
                color: #EF5B70; 
            }

            &:hover path{
                fill: #EF5B70; 
            }
        }

        &-active{
            color: #EF5B70;
        }
    }
}

@media(max-width: 1024px){
    .filters{
        padding-top: 24px;
        margin-bottom: 0;
        grid-template-columns: repeat(2, 48.98%);
        grid-column-gap: 16px;

        &__group{
            justify-content: flex-end;
        }
    }

    .products{
        &-catalog{
            padding-bottom: 64px;
        }
        
        &__container{
            grid-row-gap: 16px;

            &-catalog{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}

@media(max-width: 767px){
    .filters{
        display: flex;
        justify-content: space-between;
        // gap: 61.5px;
        max-width: 360px;
        margin: auto;
        box-sizing: content-box;

        &__heading{
            display: none;
        }

        &__svg-box{
            width: 37.5px;
            height: 25px;
        }

        &__svg_main{
            width: 37.5px;
            height: 25px;
            transition: all 0.5s;
        }

        &__group{
            gap: 24px;

            &-heading{
                font-size: 12px;
            }

            &-size_catalog{
                right: 0;
            }
        }

        &__summary{
            gap: 9px;
        }

        &__details[open] .filters__svg_main {
            color: #EF5B70;
            width: 15px;
            height: 10px;
            position: absolute;
            left: 71px;
        }

        &__details[open] .filters__heading{
            display: block;
            position: absolute;
        }

        &__details-content{
            width: 360px;
            max-width: calc(100vw - 32px);
        }

        &__subheading{
            width: 100%;
        }
    }

    .products__container-catalog {
        padding-top: 32px;
    }
}