.breadcrumbs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 60px;
    background-color: #F8F3F4;

    &__heading{
        color: $colorSelection;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize; 
    }

    &__ul{
        list-style-type: none;
        display: flex;
    }

    &__li {
        display: flex;
        align-items: center;
    }

    &__li:not(:last-of-type)::after{
        content: '/';
        padding-left: 5px;
        padding-right: 5px;
        color: #636363;
    }

    &__nav-link{
        color: #636363;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
    }

    &__nav-link:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    &__li:last-of-type .breadcrumbs__nav-link{
        font-weight: 700;
        color: $colorSelection;
    }
}

.main__product{
    &-background{
        background-color: #F7F7F7;
        padding-top: 11px;
        padding-bottom: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-arrow__box{
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;cursor: pointer;
    }

    &-arrow__box:hover path{
        fill: $colorSelection;
    }

    &_photo__container{
        max-width: 52.3604%;
        margin: auto;
    }
    
    &-photo{
        width: 100%;
    }

    &-description-container{
        position: relative;
        top: -60px;
    }

    &-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding-top: 65px;
        padding-bottom: 65px;
        border: 1px solid #EAEAEA;
    }

    &-type{
        color: $colorSelection;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
    }

    &-devider{
        all: unset;
        width: 63px;
        height: 3px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: #EF5B70;
        color: #EF5B70;
    }
    
    &-heading{
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
        padding-bottom: 48px;
    }

    &-text{
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
        padding-bottom: 32px;
        max-width: 52.3604%;
    }

    &-cost{
        color: #EF5B70;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &-seconddevider{
        all: unset;
        margin-top: 65px;
        margin-bottom: 65px;
        width: 60%;
        height: 1px;
        color: #EAEAEA;
        background: #EAEAEA;
    }

    &-choose__parameters{
        display: flex;
        justify-content: center;
        gap: 23px;
        padding-bottom: 43px;
    }

    &-summary{
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        list-style-type: none;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }

    &-summary::after{
        content: url(img/product_page-arrow.svg);
        padding-left: 9px;
        display: flex;
    }

    &-add-to-cart{
        border: 1px solid #FF6A6A;
        color: #F26376;
        padding: 15px 57px 15px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: flex;
        align-items: center;
        gap: 23px;
        transition: all 0.3s;
    }

    &-add-to-cart:hover{
        // text-decoration: underline;
        // text-underline-offset: 5px;
        color: #fff;
        background-color: #F26376;
    }

    &-add-to-cart:hover path{
        fill: #fff;
    }

    &-form{
        display: flex;
        gap: 15px;
        position: absolute;
        // padding-top: 10px;
        padding: 10px;
        flex-direction: column;
        background: white;
        width: 110px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        z-index: 1;
    }

    &-input__group{
        display: flex;
        gap: 10px;
    }

    &-input{
        width: 13px;
        height: 13px;
        border: 1px solid #EBEBEB;
        transition: 0.2s all linear;
        cursor: pointer;
    }

    &-input:checked {
        border: 1px solid $colorSelection;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-input:checked::before{
        content: "✓";
        position: absolute;
        color: #F16D7F;
    }

    &-label{
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        list-style-type: none;
        cursor: pointer;
    }

    &-quantity{
        border: 1px solid #999;
        padding: 3px 1px 3px 10px;
        max-width: 84px;
        font-size: 14px;
        color: #999;
    }

    &-quantity:focus{
        outline: 1px solid #ccc;
    }
}

.products__product-page{
    padding-bottom: 80px;
}

@media(max-width: 1024px){
    .main__product{
        &-background {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &-description{
            border: none;

            &-container{
                top: 0;
                border-top: 1px solid #EAEAEA;
                border-bottom: 1px solid #EAEAEA;
            }
        }

        &-text{
            max-width: 80%;
        }

        &-seconddevider{
            width: 90%;
        }

        &-choose__parameters{
            padding-bottom: 48px;
        }
    }

    .products__product-page {
        padding-top: 55px;
        padding-bottom: 96px;
    }
}